<div class="columns">
  <div class="column is-8">
    <table>
    <tr>
    <td>
    <div>
        <h1 class="title is-1"><%= @product.title %></h1>
    </div>
    </td>

    <td>
    <div>
      <% if @product.active_status == true %>
        &emsp;
     
          <span class="tag is-success inline-block nudge-down-10"> Active</span>

      <% else %>
        &emsp;
        <span class="tag is-warning nudge-down-10">Complete</span>
      <% end %>
    </div>
    </td>

    <td>
    <div>
              <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons nudge-down-2">
            &emsp;
            <span class="tag is-dark nudge-down-10">Base price</span>
            <span class="tag is-info nudge-down-10">Rs. <%= @product.base_price %></span>
          </div>
        </div>
    </div>
    </td>
    </tr>
    </table>  
    
    <div class="content">
      <div class="pb3 border-bottom">
      <p >Posted <%= time_ago_in_words(@product.created_at) %> ago</p>
      
      </div>
      <div class="pt1"><%= sanitize markdown_to_html(@product.description) %></div>
    </div>

    <% if @product.images.attached? %>
      <div class="columns is-multiline">
        <% @product.images.each do |image| %>
          <div class="column is-one-third">
            <%= image_tag image.variant(resize: "800x600>") %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? and current_user.id != @product.user.id and @product.active_status == true%>

      <h1 class="title is-5">Start Bidding!</h1>
      <%= form_for [@product, @bid] do |f| %>
        <%= f.number_field :price,class:"input is-normal", placeholder: "Enter the amount you want to bid" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        <div class="text-align-right">
          <%= f.submit "Place Bid", class: "button is-link is-small is-left mt3 mb3" %>
        </div>
      <% end %>
    <%end%>
    <% if @product.bids.count > 0%>
      <h1 class="title is-5 mt5 mb2"> Top bid for this product <% if @product.active_status == true %>
       [<%= distance_of_time_in_words(Time.now, @product.expiry_time)%> remaining]
      <%end%> </h1>
    <% else %>
      <h1 class="title is-5 mt5 mb2"> No bids so far! <% if @product.active_status == true %>
       [<%= distance_of_time_in_words(Time.now, @product.expiry_time)%> remaining]
      <%end%> </h1>
    <% end %>
    

        <% if @product.bids.count>0 %>
          <% bid = @product.bids.where(price: @product.bids.maximum('price')).first%>
            <article class="message is-dark">
            <div class="box">
              <div class="inline-block nudge-down-10"><%= gravatar_for bid.user, size: 32 %></div>
              <div class="inline-block"><%= bid.user.name %></div>
              <div class = "inline-block">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-rupee-sign"></i>
                  </span>
                  <span><%= bid.price %></span>
                </span>
                
                <%16.times do%>&emsp;<%end%> Bidded <%= time_ago_in_words(bid.created_at)  %> ago
              
              </div>
            </div>
            </article>
          <% end %>
    
  </div>

  <div class="column is-3 is-offset-1">
    <% if product_author(@product) %>
      <div class="bg-light pa3 mb4 border-radius-3">
        <p class="f6 pb1">Author actions:</p>
        <div class="button-group">
          <%= link_to "Edit product: #{@product.title}", edit_product_path(@product), class: 'button is-small' %>
          
        </div>
      </div>
    <% end %>
    <div class="pr5 mb4">
      <p class="text-align-left f6">product author:</p>
      <div class="inline-block nudge-down-10"><%= gravatar_for @product.user, size: 32 %></div>
      <div class="inline-block"><%= @product.user.name %></div>
    </div>
    <% if user_signed_in? && current_user.id != @product.user_id %>
      <%= link_to "Message #{@product.user.name}", conversations_path(sender_id:current_user.id,recipient_id:@product.user.id),method: 'post' ,class: "button is-link" %>
    <% elsif user_signed_in? && current_user.id == @product.user_id  %>
      <%= link_to "Conversations", conversations_path%>
    <% else %>
    <%= link_to "Sign up to message #{@product.user.name}", new_user_registration_path %>
    <% end %>
  </div>
</div>